{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for movie in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'movie_detail' movie.slug %}" class="movie-link">
                                <h2 class="movie-title">{{ movie.movie_title }}</h2>
                            </a>

                            <hr />
                            <h5 class="movie-subtitle">{{ movie.movie_year }}</h5>
                            <!--<img src="{% static 'images/pp4-art-m1.jpg' %}"  width="250">-->
                            <!--
                            <hr />
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="card-text">{{ movie.movie_desc }}</p>
                                </div>
                            </div>
                            -->
                            <hr />
                            <h3 class="movie-subtitle">{{ movie.meal_name}}
                            </h3>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}