<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie View</title>
</head>

<body>
    <h1>Movie List</h1>
    {% for movie in object_list %}
    <h2>{{movie.movie_title}}</h2>
    <p>{{movie.movie_desc}}</p>
    <p>{{movie.meal_name}}</p>
    <!--<img src="{{movie.movie_image}}" alt="{{movie.movie_image_desc}}">-->
    <img src="/pp4-booking-website-2/static/images/pp4-art-m1.jpg" alt="The Good, The Bad and the Ugly movie poster">
    <button type="button">Book Now</button>
    {% endfor %}
</body>

</html>